{% extends "base.html" %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'listener/home.css' %}">
<link rel="stylesheet" href="{% static 'component.css' %}">
<link rel="stylesheet" href="{% static 'stackgrid.css' %}">
<title>Document</title>
{% endblock css %}




{% block page %}
<nav class="top_nav">
  <a href="">Home</a>
  <section>
    <div>
      <a href="">Galleries</a>
      <a href="">FAQ</a>
      <a href="">About Us</a>
      <a href="">Contact Us</a>
    </div>
    <div>
      <i class="material-symbols-outlined">search</i>
      <input type="text" placeholder="Search">
    </div>
  </section>
</nav>

<section class="head_box">
  <section class="wrapper">
    <section class="part">
      <div class="logo_box_holder">
        <img src="https://res.cloudinary.com/dvnemzw0z/image/upload/v1689698849/logo_ftfbmr.png" id="logo">
        <section class="logo_box" style="background-image: url({{now_program.thumb.url}});">
        </section>
      </div>
      <!-- <script src="https://embed.radio.co/player/bb94216.js"></script> -->

      <section class="player_box" style="z-index: 50;">
        <audio
          src="https://res.cloudinary.com/dvnemzw0z/video/upload/v1689936697/Burna_Boy_-_Real_Life_feat._Stormzy_Official_Audio_prcull.mp3"
          style="display: none;"></audio>
        <div class="top">
          <script src="https://embed.radio.co/player/6bf2bf9.js" style="width: 50px !important;"></script>
          <!-- <button class="material-symbols-outlined play_btn" id="play" onclick="togglePlay()">play_arrow</button> -->

          <style>
            iframe {
              width: 60px !important;
              /* height: 50px !important; */
              /* background: salmon; */
              border: 2px solid salmon;
            }
          </style>

          <span class="bar_box">
            <small></small>
            <small></small>
            <small></small>
            <small></small>
            <small></small>
          </span>
        </div>
        <hr style="width: 100%; border-top: 1px solid var(--var-bg);">

        <div class="low">
          <p><i class="material-symbols-outlined">radio</i> <span>{{now_program.name}}</span></p>
          <p><i class="material-symbols-outlined" id="clock">schedule</i> <span>ON AIR:</span>
            <small>{{now_program.start_date|date:'G:i'}} -
              {{now_program.end_date|date:'G:i'}}</small>
          </p>
          <p>
            <i class="material-symbols-outlined">music_note</i> <span>NOW PLAYING:-

              <script style="width: 100px !important;" src="https://embed.radio.co/embed/s7b1693cc2/song.js"></script>
            </span>

            <style>
              .radioco_song {
                width: 200px !important;
                overflow: hidden;
                font-weight: 400;
                text-overflow: ellipsis;
                display: -webkit-box;
                font-size: 0.8rem;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
              }
            </style>
          </p>
        </div>
      </section>
    </section>

    <div class="next_box">
      <i class="material-symbols-outlined">chevron_right</i>
      <span>Up Next</span>
    </div>

    <section class="part">
      <section class="player_box" style="border-radius: 10px;">
        <div class="top">
          <img src="{{next_program.thumb.url}}" alt="">
          <i class="material-symbols-outlined">timer</i>
        </div>
        <hr style="width: 100%; border-top: 1px solid var(--var-bg);">

        <div class="low">
          <p><i class="material-symbols-outlined">radio</i> <span>{{next_program.name}}</span></p>
          <p><i class="material-symbols-outlined" id="clock">schedule</i> <span>UP NEXT:</span>
            <small>{{next_program.start_date|date:'G:i'}} -
              {{next_program.end_date|date:'G:i'}}</small>
          </p>
          <!-- <p><i class="material-symbols-outlined">music_note</i> <span>NOW PLAYING:-</span></p> -->
        </div>
      </section>
    </section>
  </section>
</section>

<section class="social_box">
  <section class="media_box">
    <strong>Follow Us On</strong>
    <div class="item_box">
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-youtube"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-google"></i>
      <i class="fa-brands fa-yahoo"></i>
      <i class="fa-brands fa-tiktok"></i>
      <i class="fa-brands fa-snapchat"></i>
    </div>
  </section>

  <section class="event_box">
    <section class="con_section">
      <h3>Upcoming Programs</h3>
      <section class="program_box">
        {% for program in programs %}
        <div class="program">
          <div class="img_box" style="background-image: url({{program.thumb.url}});"></div>
          <p>
            <strong style="color: black;">{{program.name}}</strong>
            <small><i class="material-symbols-outlined">timer</i> {{program.start_date|date:'G:i'}} -
              {{program.end_date|date:'G:i'}} </small>
            <small><i class="material-symbols-outlined">play_arrow</i> Latest Episode</small>
          </p>
          <div class="program_tag radio_tag">Live Now</div>
        </div>
        {% endfor %}
      </section>
    </section>
  </section>
</section>

<section class="news_box">
  <section class="con">
    <h3>Announcements</h3>
    <div class="posts stack-container" max-width="840" min-width="205" gutter="10">
      {% for item in anns %}
      <div class="stack-card">
        <i class="material-symbols-outlined program_tag">campaign</i>
        <img src="{{item.thumb.url}}">
        <div class="header">
          <div class="title">{{item.name}}</div>
        </div>
        <div class="content">
          <small>
            {{item.description}}
          </small>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</section>

<section class="low_box">
  <section class="con">
    <section class="con_section">
      <h3>Global Ghana News</h3>
      <section class="program_box">
        {% for item in global_news %}
        <div class="program">
          <div class="img_box" style="background-image: url({{item.thumb.url}});"></div>
          <p>
            <strong>{{item.name}}</strong>
            <span class="text">
              {{item.description}}
            </span>
            <small>{{item.start_date|date:'jS F,Y'}}</small>
          </p>
        </div>
        {% endfor %}
      </section>
    </section>

    <section class="con_section">
      <h3>Local Ghana News</h3>
      <section class="program_box">
        {% for item in local_news %}
        <div class="program">
          <div class="img_box" style="background-image: url({{item.thumb.url}});"></div>
          <p>
            <strong>{{item.name}}</strong>
            <span class="text">
              {{item.description}}
            </span>
            <small>{{item.start_date|date:'jS F,Y'}}</small>
          </p>
        </div>
        {% endfor %}
      </section>
    </section>
  </section>
</section>
</section>

<footer>
  <section>
    <h4>DISCOVER</h4>
    <div>
      <a href="">News</a>
      <a href="">Sport</a>
      <a href="">Education</a>
      <a href="">TV Liscences</a>
    </div>
  </section>
  <section>
    <h4>TV</h4>
    <div>
      <a href="">S1</a>
      <a href="">S2</a>
      <a href="">S3</a>
    </div>
  </section>
  <section>
    <h4>RADIO</h4>
    <div>
      <a href="">Channel Africa</a>
      <a href="">5 FM</a>
      <a href="">Lotus FM</a>
    </div>
  </section>
</footer>
{% endblock page %}


{% block js %}
<script src="{% static 'listener/home.js' %}"></script>
<script src="{% static 'stackgrid.js' %}"></script>
{% endblock js %}