<nav class="main_nav">
  <section>
    <img src="https://res.cloudinary.com/dvnemzw0z/image/upload/v1689698849/logo_ftfbmr.png" alt="" id="logo">
    <span class="program_name">{{program.name}}</span>
    <button class="material-symbols-outlined" onclick="toggleMiniNav()">menu</button>
  </section>
  <div>
    <a href="">Home</a>
    <a href="">Shows</a>
    <a href="">Blog</a>
    <a href="">News</a>
    <a href="">Events</a>
    <a href="">Competitions</a>
    <a href="">Galleries</a>
    <a href="">Podcast</a>
    <a href="">Top 30 Music Chart</a>
    <a href="">FAQ</a>
    <a href="">About Us</a>
    <a href="">Contact Us</a>
  </div>
</nav>