<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <section>
    <h1>The audio autoplay attribute</h1>
    <p>Click on the play button to play a sound</p>
    <audio controls autoplay>
      <source src="https://dc5.serverse.com/proxy/wzygtluj/stream" type="audio/mpeg">
    </audio>
    <br> <br>

    <span class="cc_streaminfo" data-type="song" data-username="wzygtluj">Loading ...</span>

    <script language="javascript" type="text/javascript" src="https://dc5.serverse.com/system/streaminfo.js"></script>
    <!-- <script>
      const song = document.querySelector('audio')

      document.querySelector('button').onclick =()=>{
        if(song.paused){
          song.play()
        }else{
          song.pause()
        }
      }
    </script> -->
  </section>
</body>

</html>