{% extends "base.html" %}


{% block page %}
{% include "header.html" %}
<section class="terms_box">
  <img src="https://res.cloudinary.com/dvnemzw0z/image/upload/v1689698849/logo_ftfbmr.png" id="logo">

  <h1>TERMS AND  CONDITIONS</h1>
  

  Effective Date: 27th July, 2023

  <article>
    <strong>Introduction:</strong>
  
    <span>
      Welcome to OBBN Radio ("the App"). This Privacy Policy outlines how we collect, use, share, and protect your
      personal
      information when you use our mobile application. Your privacy is essential to us, and we are committed to
      safeguarding
      your personal data. By using OBBN Radio, you agree to the practices described in this policy.
    </span>
  </article>

  <article>
    <strong>Information We Collect:</strong>
  
    <p>
      a. Personal Information: We may collect certain personal information from you, including but not limited to your
      name,
      email address, and location data. We only collect this information when you voluntarily provide it to us.
    </p>
  
    <p>
      b. Usage Data: Our App may automatically collect certain usage data, such as your device information, IP address,
      and
      interactions with the App. This information is collected to enhance your experience and optimize our services.
    </p>
  
    <p>
      c. Cookies and Similar Technologies: OBBN Radio may use cookies and similar technologies to collect information
      about
      your device and usage patterns. Cookies help us understand user behavior, improve the App, and personalize your
      experience. You can manage your cookie preferences in your device settings.
    </p>
  </article>

  <hr>

  <article>
    <strong>How We Use Your Information:</strong>
  
    <p>
      a. To Provide Services: We use your personal information to deliver the services you request from OBBN Radio, such
      as
      streaming radio content and user account management.
    </p>
  
    <p>
      b. Improve User Experience: Your data helps us analyze user preferences and behavior, enabling us to optimize and
      personalize the App's features and content.
    </p>
  
    <p>
      c. Communicate with You: We may use your email address to send you important updates, notifications, or marketing
      materials related to OBBN Radio. You can opt-out of marketing communications at any time.
    </p>
  
    <p>
      d. Legal Compliance: In some cases, we may need to process your data to comply with applicable laws and regulations.
    </p>
  </article>

  <hr>

  <article>
    <strong> Sharing Your Information:</strong>
  
    <p>
      a. Third-Party Service Providers: We may share your information with trusted third-party service providers who
      assist
      us in operating the App and delivering services. These providers are bound by confidentiality agreements and can
      only
      use your data as instructed by us.
    </p>
  
    <p>
      b. Legal Obligations: We may disclose your information to comply with legal requirements, such as responding to
      subpoenas or court orders.
    </p>
  
    <p>
      c. Business Transfers: In the event of a merger, acquisition, or asset sale, your information may be transferred to
      a
      third party as part of the transaction. We will notify you of any such event and provide choices about your
      information.
    </p>
  </article>

  <hr>

  <article>
    <strong>Data Security:</strong>
    <span>
      OBBN Radio employs reasonable measures to protect your personal data from unauthorized access, alteration, or
      destruction. However, no data transmission over the internet or electronic storage is entirely secure, so we
      cannot
      guarantee absolute security.
    </span>
  </article>

  <article>
    <strong>Children's Privacy:</strong>
    <span>
      OBBN Radio is not intended for use by individuals under the age of [insert appropriate age based on legal
      requirements]. We do not knowingly collect personal information from children without parental consent. If you
      believe
      we have inadvertently collected information from a child, please contact us immediately.
    </span>
  </article>

  <article>
    <strong>Your Choices:</strong>
    <p>
      a. Opt-Out: You have the right to opt-out of receiving marketing communications from us. To do so, follow the
      unsubscribe instructions in the email or contact us directly.
    </p>

    <p>
      b. Access and Correction: You can access and update your personal information by contacting us at [provide contact
      details].
    </p>
  </article>

  <article>
    <strong>Changes to Privacy Policy:</strong>
    <p>
      We may update this Privacy Policy from time to time to reflect changes in our practices or for other operational,
      legal, or regulatory reasons. Any updates will be effective when we post the revised policy on the App.
    </p>
  </article>

  <article>
    <strong>Contact Us:</strong>
    <p>
      If you have any questions, concerns, or requests regarding this Privacy Policy or OBBN Radio's data practices,
      please
      contact us at <a href="tel: +49 176 43374579" style="color: white;">+49 176 43374579</a> .
    </p>
  </article>

  <article>
    <span>
      By using OBBN Radio, you acknowledge that you have read and understood this Privacy Policy and agree to its terms
      and
      conditions.
    </span>
  </article>

</section>

<style>
  .terms_box {
    width: 90%;
    font-size: 1.1rem;
    padding: 2vh 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem 0;
    color: white;
  }
  .terms_box img{
    width: 120px;
  }
  .terms_box article{
    display: flex;
    gap: 0.5rem 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .terms_box strong{
    font-weight: 400;
    font-size: 1.3rem;
    border-bottom: 2px solid white;
  }
</style>
{% endblock page %}