{% extends "base.html" %}
{% load static %}

{% block css %}  
<link rel="stylesheet" href="{% static 'component.css' %}">
<link rel="stylesheet" href="{% static 'listener/view_program.css' %}">
<title>Document</title>
{% endblock css %}

{% block page %}
{% include "header.html" %}

<section class="display_box">
  <nav>
    <div>
      <a href="" class="material-symbols-outlined back">chevron_left</a>
      <h3>Rap History</h3>
      <i class="material-symbols-outlined">news</i>
    </div>
  </nav>
  <section class="display">
    <div class="img_box" style="background-image: url(images/kanye.jpg);"></div>
    <div class="con">
      <p>
        Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aperiam
        placeat maxime, magnam mollitia totam veniam! Laudantium similique explicabo molestiae quam, debitis dolorum
        illum. Perspiciatis recusandae quod dolor quidem Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Ducimus saepe accusantium rerum, assumenda suscipit dolor molestiae veniam perspiciatis, odit recusandae
        error! Ipsa repudiandae deleniti magnam sit amet labore delectus ullam. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Maxime voluptate vitae dolor ab? Doloribus asperiores labore accusamus
        nesciunt quasi ipsa autem repellat, quo officia reprehenderit ipsam pariatur, sequi facere minima!
        adipisicing elit. Eius totam eos laborum, ratione voluptate illum, pariatur numquam nemo, voluptas fugiat
        molestias facilis consequatur deserunt dolorum consectetur facere aspernatur praesentium neque?Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Reprehenderit beatae dolorem aliquid blanditiis eos vero
        dolorum iusto illo perferendis. Ipsum doloremque, obcaecati veritatis voluptatum tempore consequatur
        eligendi pariatur laborum recusandae!Lorem
        Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aperiam
        placeat maxime, magnam mollitia totam veniam! Laudantium similique explicabo molestiae quam, debitis dolorum
        illum. Perspiciatis recusandae quod dolor quidem Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Ducimus saepe accusantium rerum, assumenda suscipit dolor molestiae veniam perspiciatis, odit recusandae
        error! Ipsa repudiandae deleniti magnam sit amet labore delectus ullam. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Maxime voluptate vitae dolor ab? Doloribus asperiores labore accusamus
        nesciunt quasi ipsa autem repellat, quo officia reprehenderit ipsam pariatur, sequi facere minima!
        adipisicing elit. Eius totam eos laborum, ratione voluptate illum, pariatur numquam nemo, voluptas fugiat
        molestias facilis consequatur deserunt dolorum consectetur facere aspernatur praesentium neque?Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Reprehenderit beatae dolorem aliquid blanditiis eos vero
        dolorum iusto illo perferendis. Ipsum doloremque, obcaecati veritatis voluptatum tempore consequatur
        eligendi pariatur laborum recusandae!Lorem
        Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aperiam
        placeat maxime, magnam mollitia totam veniam! Laudantium similique explicabo molestiae quam, debitis dolorum
        illum. Perspiciatis recusandae quod dolor quidem Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Ducimus saepe accusantium rerum, assumenda suscipit dolor molestiae veniam perspiciatis, odit recusandae
        error! Ipsa repudiandae deleniti magnam sit amet labore delectus ullam. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Maxime voluptate vitae dolor ab? Doloribus asperiores labore accusamus
        nesciunt quasi ipsa autem repellat, quo officia reprehenderit ipsam pariatur, sequi facere minima!
        adipisicing elit. Eius totam eos laborum, ratione voluptate illum, pariatur numquam nemo, voluptas fugiat
        molestias facilis consequatur deserunt dolorum consectetur facere aspernatur praesentium neque?Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Reprehenderit beatae dolorem aliquid blanditiis eos vero
        dolorum iusto illo perferendis. Ipsum doloremque, obcaecati veritatis voluptatum tempore consequatur
        eligendi pariatur laborum recusandae!Lorem
      </p>
    </div>
  </section>
</section>

<section class="related_box">
  <h3>Related News</h3>
  <section class="relateds">
    <div class="related" style="background-image: url(images/dot.jpg);">
      <p>
        <span>New Age</span>
      </p>
    </div>
    <div class="related" style="background-image: url(images/dot.jpg);">
      <p>
        <span>New Age</span>
      </p>
    </div>
    <div class="related" style="background-image: url(images/dot.jpg);">
      <p>
        <span>New Age</span>
      </p>
    </div>
  </section>
</section>
{% endblock page %}
  
