<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Now playing</title>
    <style>
        body {
            font-family: sans-serif;
        }
    </style>
</head>
<body>

<!-- playing track title and played tracks history (begin) -->
<b>Playing track title: </b><span id="np_current_track"></span>
<br><br>
<b>Recently played tracks: </b>
<div id="np_recent_tracks"></div>

<script>
    function updateTitleDisplay() {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if ((xmlhttp.readyState === 4) && (xmlhttp.status === 200)) {
                var s = xmlhttp.responseText;
                s = s.split('\n');
                //current track
                document.querySelector('#np_current_track').innerHTML = s[0];
                //played tracks history
                var t = '', i;
                for (i = 1; i < s.length; i++) {
                    t += s[i];
                    if (i !== s.length - 1)
                        t += '<br>';
                }
                document.querySelector('#np_recent_tracks').innerHTML = t;
            }
        };
        xmlhttp.open("GET", "/now_playing.txt?"  + new Date().getTime(), true);
        xmlhttp.send();
    }

    //update every 5 seconds
    document.addEventListener('DOMContentLoaded', function () {
        setInterval(updateTitleDisplay, 5 * 1000);
        updateTitleDisplay();
    });
</script>
<!-- playing track title and played tracks history (end) -->

<br>

<!-- playing track artwork (begin) -->
<b>Playing track artwork:</b>
<br>
<img id="np_track_artwork" src="https://res.cloudinary.com/dvnemzw0z/image/upload/v1690211697/nowplaying_artwork_fasavn.png" alt="Playing track artwork" width="200" height="200">

<script>
    function updateArtworkDisplay() {
        document.querySelector('#np_track_artwork').src = 'https://res.cloudinary.com/dvnemzw0z/image/upload/v1690211697/nowplaying_artwork_fasavn.png?' + new Date().getTime();
    }

    //update every 10 seconds
    document.addEventListener('DOMContentLoaded', function () {
        setInterval(updateArtworkDisplay, 10 * 1000);
        updateArtworkDisplay();
    });
</script>
<!-- playing track artwork (end) -->

</body>
</html>