{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'component.css' %}">
<link rel="stylesheet" href="{% static 'manager/dash_main.css' %}">
{% endblock css %}


{% block page %}
<section class="prompt_box">
  <div>
    <p>Are you sure you want to delete</p>
    <span></span>
  </div>
  <nav>
    <button>Yes</button>
    <button>No</button>
  </nav>
</section>

{% include "sideBar.html" %}

<section class="main">
  <section class="main_cover" onclick="toggleProgramForm()"></section>
  <section class="add_program_box">
    <button type="button" class="material-symbols-outlined" style="cursor: pointer;"
      onclick="toggleProgramForm()">close</button>
    <form method="post" id="program_form" enctype="multipart/form-data">
      {% csrf_token %}
      <section>
        <span id="program_type">New Podcast</span>
        <header id="new_program_day">Monday</header>
        <input type="number" name="id" readonly style="display: none;">
      </section>

      <hr style="width: 90%; border-top: 1px solid darkgray;">

      <section class="info_form">
        <input type="text" name="py_day" style="display: none;">

        <div>
          <small>Program Name</small>
          <input type="text" name="name" required>
        </div>
        <div>
          <small>Description</small>
          <textarea name="description" cols="10" rows="10" required></textarea>
        </div>
      </section>

      <section>
        <label for="add_image" class="image_label">
          <div class="img_box">
            <i class="material-symbols-outlined" style="font-size: 4rem;">add_a_photo</i>
            <input style="display: none;" type="file" name="image" id="add_image" accept="image/*"
              onchange="addImage(event.target, event.target.parentElement)">
          </div>
        </label>
      </section>

      <hr style="width: 90%; border-top: 1px solid darkgray;">

      <section class="time_form">
        <div>
          <small>Start time</small>
          <input type="time" name="start_time" required>
        </div>
        <div>
          <small>End time</small>
          <input type="time" name="end_time" required>
        </div>
      </section>

      <hr style="width: 90%; border-top: 1px solid darkgray;">

      <section>
        <label class="audio_label" for="choose_audio">
          Audio
          <input id="choose_audio" type="file" name="audio" accept="audio/*" style="display: none;"
            onchange="addAudio(event.target)">
        </label>

        <audio id="audio_out" src="" controls></audio>
      </section>

      <style>
        .audio_label {
          padding: 5px 10px;
          background: black;
          color: white;
          border-radius: 3px;
          background: var(--var-theme);
        }
      </style>

      <section>
        <div>
          <span>One off</span>
          <input type="checkbox" name="one_off">
        </div>
      </section>

      <section>
        <button type="submit">Done</button>
      </section>
    </form>
  </section>

  <header class="main_header">
    <i class="material-symbols-outlined">podcasts</i>
    <span>Podcasts</span>
  </header>

  <section class="search_box">
    <select name="day_select" onchange="filterDay(event.target.value)">
      <option value="all">All</option>
    </select>

    <input type="text" placeholder="Podcast search" name="program_search"
      oninput="searchProgram(event.target.value.toLowerCase())">

    <h4></h4>
  </section>

  <section class="day_box" data-program_list="{{program_list}}">
    <style>
      .main {
        min-height: 90vh;
      }

      .day_box {
        display: flex;
        gap: 3rem;
        flex-direction: column;
      }

      .day {
        display: flex;
        flex-direction: column;
        gap: 1rem 0;
      }

      .day header {
        color: wheat;
        font-size: 1.5rem;
        padding: 5px 0;
        border-bottom: 1px dotted wheat;
      }
    </style>
  </section>
</section>

{% endblock page %}



{% block js %}
<script src="{% static 'manager/dashboard.js' %}"></script>
<script>
  const addImage = (el, el_p) => {
    const [file] = el.files
    var src = URL.createObjectURL(file)
    el_p.style.backgroundImage = `url(${src})`
  }

  const addAudio = (el) => {
    const [file] = el.files
    var src = URL.createObjectURL(file)
    document.querySelector('.add_program_box audio').src = src
  }
</script>
<script>
  const daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
  const py_days = [6, 0, 1, 2, 3, 4, 5]

  const main_cover = document.querySelector('.main_cover')
  const add_program_box = document.querySelector('.add_program_box')
</script>

<script>
  const day_box = document.querySelector('.day_box')
  const day_select = document.querySelector('select[name="day_select"]')

  for (var i = 0; i < daysOfWeek.length; i++) {
    day_select.innerHTML += `
      <option value="${daysOfWeek[i]}">${daysOfWeek[i]}</option>
    `
    day_box.innerHTML += `
      <section class="day" data-name="${daysOfWeek[i]}"  data-abb="${daysOfWeek[i].substring(0, 3)}">
        <header>${daysOfWeek[i]}</header>
        <section class="program_box" id="d${i}">
        </section>
      </section>
    `
  }

  let program_list = JSON.parse(day_box.dataset.program_list)


  program_list.forEach((el, i) => {
    var pro_day = new Date(el.start_date).getDay()
    var pro_box = document.getElementById(`d${pro_day}`)
    var one_off_tag = ''
    if (el.one_off === false) {
      one_off_tag = 'event_repeat'
    } else {
      one_off_tag = 'remove'
    }

    pro_box.innerHTML += `
      <div class="program" data-name="${el.name}">
        <div class="img_box" style="background-image: url(${el.image_url});"></div>
        <p>
          <strong>${el.name}</strong>
          <small><i class="material-symbols-outlined">timer</i> ${el.start_date.split(' ')[1].substring(0, 5)} - ${el.end_date.split(' ')[1].substring(0, 5)} </small>
          <audio src="${el.audio}" controls></audio>        
        </p>
        <div class="program_tag material-symbols-outlined">${one_off_tag}</div>
        <p style="flex-direction: row;">
          <i class="material-symbols-outlined" id="a${pro_day}" onclick="toggleProgramForm(event.target, ${el.id})" style="font-size: 1.6rem;">edit</i>
          <i class="material-symbols-outlined" onclick="delete_program(event.target, ${el.id}, '${el.name}')" style="font-size: 1.6rem;">delete</i>
        </p>
      </div>
    `
  })




  const program_boxes = document.querySelectorAll('.program_box')
  program_boxes.forEach((box, i) => {
    box.innerHTML += `
      <div class="program" style="font-size:4rem;align-items: center;cursor:pointer; justify-content: center;" id="a${i}" 
        onclick="toggleProgramForm(event.target)">
        +
      </div>
    `
  })


  const program_form = document.getElementById('program_form')

  const toggleProgramForm = (el, el_id) => {
    if (el) {
      document.getElementById('program_type').innerHTML = 'New Podcast'
      document.getElementById('new_program_day').innerHTML = daysOfWeek[(el.id).split('')[1]]
      document.querySelector('input[name="py_day"]').value = py_days[(el.id).split('')[1]]
    }

    if (el_id) {
      program_list.forEach(prog => {
        if (prog.id === el_id) {
          document.querySelector('input[name="id"]').value = prog.id
          document.getElementById('program_type').innerHTML = 'Edit Podcast'
          document.querySelector('input[name="name"]').value = prog.name
          document.querySelector('textarea[name="description"]').value = prog.description
          document.querySelector('.img_box').style.backgroundImage = `url(${prog.image_url})`
          document.querySelector('input[name="start_time"]').value = prog.start_date.split(' ')[1].substring(0, 5)
          document.querySelector('input[name="end_time"]').value = prog.end_date.split(' ')[1].substring(0, 5)
          document.querySelector('.add_program_box audio').src = prog.audio

          console.log(prog.audio)
          if (prog.one_off) {
            document.querySelector('input[name="one_off"]').checked = true
          }
        }
      })
    }

    if (add_program_box.classList.contains('change')) {
      document.querySelector('.img_box').style.backgroundImage = '';
      [...program_form.elements].forEach(el => {
        el.value = ''
      })
    }

    add_program_box.classList.toggle('change')
    main_cover.classList.toggle('change')
  }

  const prompt_box = document.querySelector('.prompt_box')

  const delete_program = (el, el_id, el_name) => {
    prompt_box.children[0].children[1].innerHTML = el_name
    prompt_box.classList.add('change')

    prompt_box.onclick = (e) => {
      if (e.target.innerHTML === 'Yes') {
        runAxios('delete_podcast', el_id)
        runDeleteAnime(el.parentElement.parentElement)
        prompt_box.classList.remove('change')
      } else if (e.target.innerHTML === 'No') {
        prompt_box.classList.remove('change')
      }
    }
  }

  const days = document.querySelectorAll('.day')

  const filterDay = (val) => {
    if (val === 'all') {
      days.forEach(day => {
        day.style.display = 'flex'
      })
    } else {
      days.forEach(day => {
        if (day.dataset.name === val) {
          day.style.display = 'flex'
        } else {
          day.style.display = 'none'
        }
      })
    }
  }

  const programs = document.querySelectorAll('.program')

  const searchProgram = (val) => {
    var results = 0
    programs.forEach(program => {
      if (program.dataset.name) {
        if (program.dataset.name.toLowerCase().includes(val)) {
          program.style.display = 'flex'
          results += 1
        } else {
          program.style.display = 'none'
        }
      }
    })
    document.querySelector('.search_box h4').innerHTML = `${results} Results`
  }
</script>

<style>
  .program audio {
    width: 100%;
  }
</style>

<script>
  const audios = document.querySelectorAll('audio')
  audios.forEach((el, i) => {
    el.onplay = () => {
      audios.forEach((el_, ii) => {
        if (i != ii) {
          el_.currentTime = 0
          el_.pause()
        }
      })
    }
  })
</script>

{% endblock js %}