.stack-container {
    position: relative;
    margin: auto;
    width: 100%;
}

.stack-card {
    border-radius: 2px;
    position: absolute;
    display: inline-block;
    font-size: 16px;
    overflow: hidden;
}
.stack-card .header {
    width: 100%;
    background: black;
}
.stack-card .title {
    color: #ffffff;
    padding: 10px 5%;
    width: 90%;
}
.stack-card .content {
    padding: 16px;
    background: #fffefa;
    background: #1e1e1e;
    overflow: hidden;
    color: white;
}
.stack-card img {
    width: 100%;
    margin-botton: 0;
    display: block;
}
